<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="font-family: 'Anybody'; display: flex" class="collapse navbar-collapse" id="navbarNav">
        <h1 style="font-size: 2em; margin-right: 3%; font-family: 'Anybody'; padding: 1%; margin-top: 1%">uncovered</h1>
        <ul style="font-weight: 900; font-style: normal" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/vinyls">random vinyl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/magic-sheet">random rym</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/random-artist">random highly rated artist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/random-album">random highly rated album</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ryan-rym">ryan's rym</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/top-random">top albums of a random person</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/great-scene">the great scene chronology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/jazz">jazz</a>
            </li>
          <div style="margin-left: 20rem; display: flex;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/listening-log">log</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/add">add</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>

    <div style="display: flex; justify-content: center; flex-wrap: wrap;  background: rgba(255, 231, 231, 0.7); height: 92vh">
        {% for i in albums %}
        <div class="rym" style="display: flex; flex-direction: column;justify-content: center; width: 300px; gap: 10px; margin: 50px; text-align: center; align-items: center; position: relative; top: 1px">
            <h2 style="width: 900px; margin-bottom: 20px">{{i.album}}</h2>
        </div>
        {% endfor %}
    </div>
</body>
</html>